<extend name="Public:frameset"/>
<block name="body-left">
	<div class="headline">
     <h3>
     	<span class="section-head-label"></span>
		搜索结果<br><br><br><span class="glyphicon glyphicon-search" aria-hidden="true"></span>找到" <span style="color: #dd5862;font-size: 1.2em;">{$keyword}</span>"相关内容 <span style="color: #dd5862;font-size: 1.2em;">{$count}</span> 条
    </h3>
	</div>
	<div class="article-list">
	 <volist name="query" id="k">
			 	<dl class="article">
			<div class="title_time">
			<div class="row">
			<div class="col-md-1" style="line-height:0;margin-top:4px;padding-left:0;">
			<span style="font-size: 60px; overflow:hidden;color:green;">9</span>
			</div>
			<div class="col-md-11">

			<a href="{:U('Article/detail',array('id'=>$k['id']))}" title="{$k['title']}">{$k['title']}</a>
			<div class="artitle_time_date">5&nbsp小时前</div>
			</div>
			</div>
		</div> 	
		<dd class="article_image">
		<a href="{:U('Article/detail',array('id'=>$k['id']))}" title="{$k['title']}">	<img class="img" src="__PUBLIC__/assets/global/{$k['img_file']}" alt="图片已烧焦"></a>
		</dd>

		<dd>
			<div class="content">
				<p>{$k['content']|mb_substr=###,0,200,'utf-8'}...</p> 					
			</div>
		</dd>		
		<dd class="good">
			<div class="row">
				<div class="col-md-3">
					<i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;{$k['category_name']}

				</div>
				<div class="col-md-9" style="float: right;">
					<i class="glyphicon glyphicon-heart" style="color: red;font-size: 1.2em;"></i><!-- {$k['update_time']} -->120
					<i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;{$k['hits']}
				</div>
			</div>
		</dd>
		</dl>
	 	</volist> 
	 	</div>
		<div class="article-page">
			 {$page}
			<!-- <div> 
				<a class="prev" href="/ClassBlog/index.php?m=Home&c=Index&a=index&p=1">上一页</a> 
				<a class="num" href="/ClassBlog/index.php?m=Home&c=Index&a=index&p=1">1</a>
				<span class="current">2</span>
				<a class="num" href="/ClassBlog/index.php?m=Home&c=Index&a=index&p=3">3</a>
				<a class="next" href="/ClassBlog/index.php?m=Home&c=Index&a=index&p=3">下一页</a>  
				<span class="rows">共 12 条记录</span> 
			</div> -->
		</div>
	
</block>		














<block name="right">


















</block>