<extend name="Public:frameset"/>
<block name="left">
	<div class="list-group">
		  <a href="{:U('AdminArticle/articleAll')}" class="list-group-item">
		    文章管理<i class="glyphicon glyphicon-chevron-right pull-right"></i>
		  </a>
		  <a href="{:U('AdminArticle/articleAdd')}" class="list-group-item active">文章发布<i class="glyphicon glyphicon-chevron-right pull-right opacity25"></i></a>
		  <a href="{:U('Admin/AdminArticle/getFriendsLink')}" class="list-group-item">友情链接<i class="glyphicon glyphicon-chevron-right pull-right opacity25"></i></a>
		  <a href="{:U('Admin/AdminArticle/sortAll')}" class="list-group-item">分类管理<i class="glyphicon glyphicon-chevron-right pull-right opacity25"></i></a>
	</div>
</block>
<block name="right">	
    <link rel="stylesheet" type="text/css" href="./Public/assets/plugins/simditor/styles/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="./Public/assets/plugins/simditor/styles/simditor.css" />
    <script type="text/javascript" src="./Public/assets/plugins/simditor/scripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="./Public/assets/plugins/simditor/scripts/js/module.js"></script>
    <script type="text/javascript" src="./Public/assets/plugins/simditor/scripts/js/uploader.js"></script>
    <script type="text/javascript" src="./Public/assets/plugins/simditor/scripts/js/simditor.js"></script>
				<ol class="breadcrumb">
				  <li>后台管理</li>
				  <li class="active">文章发布</li>
				</ol>
				<form class="form-horizontal" enctype="multipart/form-data" method="post" action="{:U('AdminArticle/articleAd')}">
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">文章分类</label>
				    <div class="col-sm-10">
				      <select class="form-control" name="category_id">
				      	<volist name="nav" id="v">
				      		<option value="{$v['id']}">{$v['name']}</option>
				      		<notempty name="v['children']" >
				      			<volist name="v['children']" id="v1">
				      				<option value="{$v1['id']}">&nbsp;&nbsp;>>{$v1['name']}</option>
				      			</volist>
				      		</notempty>
				      	</volist>
				      </select>
				    </div>
				  </div>
				 <!--  <div class="form-group">
				    <label for="publish-time" class="col-sm-2 control-label">更新时间</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="publish-time" name="update_time">
				    </div>
				  </div> -->
				  <div class="form-group">
				    <label for="article-title" class="col-sm-2 control-label">文章标题</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="article-title" name="title">
				    </div>
				  </div>
				  <div class="form-group">
					  <label class="col-sm-2 control-label">文章正文</label>
					  <div class="col-sm-10">
					    <textarea id="editor" placeholder="这里输入内容" name="content"></textarea>
					    </div>
				  </div>
				  <div class="form-group">
				    <label for="keywords" class="col-sm-2 control-label">文章配图</label>
				    <div class="col-sm-10">
				      <input type="file" name="img_file">
				  </div>
				  </div>
				  <div class="form-group">
				    <label for="keywords" class="col-sm-2 control-label">关键词</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="keywords" name="tags">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">				    
				      <button type="submit" class="btn btn-success  btn-default">提交</button>
				    </div>
				  </div>
				</form>
				  
  <script type="text/javascript">
    var editor = new Simditor({
      textarea: $('#editor')
    });
  </script>
</block>